# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
env/
ENV/
.venv/

# VS Code settings
.vscode/

# Pytest
.cache/

# Jupyter Notebook
.ipynb_checkpoints

# MacOS
.DS_Store

# Logs
*.log

# dotenv environment variables
.env
.env.*

# Static files (optional, if generated)
staticfiles/

# Ignore node_modules if using JS dependencies
node_modules/
